@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2 style="font-size: 50px; color: #367E18 ">Welcome To About Page</h2>
<p  style= " font-size:25px;color:darkblue">
    Development of Attendance & Leave Management System to automate the attendance and leave management of the employees
</p>

<p style=" font-size: 18px; color: darkblue " >
    Attendance & Leave Management System is an application,
    which develops a user interface for Attendance & Leave Management for maintaining employee’sleaves records.
    It provides provision for employees to mark their attendance & leaves and it should also help users to track the status of their remaining leaves.
    Managers can approve /reject the leaves and view the overall leaves taken by the employee in a month and year or between the selected days.
    As per the employee grade, employee is eligible to get the credit of specific amount of leaves on the first date of every month.


</p>
