
@{
    ViewBag.Title = "CheckIn";
}

<h2>Welcome to Attendance Page</h2>
</br></br>
<button class="btn btn-success btn-lg">CheckIn</button></br></br>
<div>
  <button class="btn btn-danger btn-lg">  @Html.ActionLink("Back", "welcome")</button>
</div>

