@{
    ViewBag.Title = "Home Page";
}
<form action="action.html" method="post">
<div>
    <center>
        <marquee direction="right" scrollamount="17"> <h1 style="font-size:75px"><strong>Welcome To Attendance Management System</strong></h1></marquee>
        </br></br></br></br></br></br></br>

        <button class="btn-primary btn-lg">Employee &raquo;</button></br></br></br>
        <button class="btn-danger btn-lg">Admin &raquo;</button>

    </center>

    
 </div>
</form>

