@{
    ViewBag.Title = "Home Page";

}

@using (Html.BeginForm())

{

}
<div >
    <center>
        <marquee direction="right" scrollamount="17"> <h1 style="font-size:75px"><strong>Welcome To Attendance Management System</strong></h1></marquee>
        </br></br></br></br></br></br></br>
        <button class=" btn-warning  btn-lg">  @Html.ActionLink("Employee", "Login", "Home") &raquo;</button></br></br></br>
        <button class =" btn-warning btn-lg">  @Html.ActionLink("Admin", "Admin", "Home") &raquo;</button>
    </center>
</div>


