
@{
    ViewBag.Title = "summary";
}

<center>
    <h2 style="font-size:40px">Leave Summary</h2>
</center>
<center>
    <form style=" border-width: 5px; border-color: #b95d52; border-style: double solid; font-size: 18px">
        <table>
            <tr>
                <td>EmpId</td>
                <td><input type="number" name="eid" /></td>
            </tr>
            <tr>
                <td>EmpName</td>
                <td><input type="text" name="ename" /></td>
            </tr>
            
            <tr>
                <td>Leave Earned</td>
                <td><input type="number" name="Leavenum" /></td>
            </tr>
            
            <tr>
                <td>Availabe Leave Balance</td>
                <td><input type="number" name="Avaliablebal" /></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><textarea rows="1" cols="23"></textarea></td>
            </tr>
           
            <tr>

                <td> <button class="btn btn-danger btn-lg">  @Html.ActionLink("Back", "welcome")</button></td>
            </tr>


        </table>


    </form>
</center>




