
@{
    ViewBag.Title = "summary";
}

<center>
    <h2 style="font-size:40px">Leave Summary</h2>
</center>
</br></br></br></br></br></br></br></br>

<tr>

    <td> <button class="btn btn-danger btn-lg">  @Html.ActionLink("Back", "welcome")</button></td>
</tr>





